<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>employeeweb</display-name>
  <welcome-file-list>
  	<welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>com.medplus.employee.servlets.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployees</display-name>
    <servlet-name>GetEmployees</servlet-name>
    <servlet-class>com.medplus.employee.servlets.GetEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployees</servlet-name>
    <url-pattern>/GetEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployee</display-name>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>com.medplus.employee.servlets.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.medplus.employee.servlets.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>com.medplus.employee.servlets.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepartment</display-name>
    <servlet-name>AddDepartment</servlet-name>
    <servlet-class>com.medplus.employee.servlets.AddDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartment</servlet-name>
    <url-pattern>/AddDepartment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDepartments</display-name>
    <servlet-name>GetDepartments</servlet-name>
    <servlet-class>com.medplus.employee.servlets.GetDepartments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDepartments</servlet-name>
    <url-pattern>/GetDepartments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDepartment</display-name>
    <servlet-name>UpdateDepartment</servlet-name>
    <servlet-class>com.medplus.employee.servlets.UpdateDepartment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDepartment</servlet-name>
    <url-pattern>/UpdateDepartment</url-pattern>
  </servlet-mapping>
</web-app>